.movie-posters{
    height: 300px;
    overflow-x: auto;
    display: flex;
    margin-top: 12px;
}

body::-webkit-scrollbar {
    display: none;
}

.movie-posters img {
    margin-right: 12px;
    margin-bottom: 12px;
    transition: transform 300ms;
}

.movie-posters img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.suggestions {
    margin-left: 20px;
    margin-bottom: 20px;
}