.movie-posters{
    height: 300px;
    overflow-x: auto;
    display: flex;
    margin-top: 12px;
}

.movie-posters::-webkit-scrollbar {
    display: none;
}

.movie-posters img {
    margin-right: 12px;
    margin-bottom: 12px;
}

.suggestions {
    margin-left: 20px;
    margin-bottom: 20px;
}