.register {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.register-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    width: 200px;
    color: #000;
}

.input-field {
    margin-bottom: 12px;
}