.home-screen {
    display: flex;
    flex-direction: row;
}

.content {
    height: 100vh;
    overflow-y: auto;
    width: 100%;
}

footer {
    text-align: center;
    margin: 20px;
    color: #555;
    font-size: 12px;
}

footer a {
    color: #e201109a;
}

footer a:hover {
    color: #e20110;
}